{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'svc_name': 'redis-server',
	    'logfile': '/var/log/redis/redis-server.log',
        'pidfile': '/var/run/redis/redis-server.pid',
    },
    'RedHat': {
        'svc_name': 'redis',
        'logfile': '/var/log/redis/redis.log',
        'pidfile': '/var/run/redis.pid'
    },
}, merge=salt['pillar.get']('redis_io:lookup')) %}

{% set default_settings = {
    'redis_io': {
        'version': '3.2.3',
        'file_checksum': 'sha1=92d6d93ef2efc91e595c8bf578bf72baff397507',
        'svc_onboot': True,
        'svc_state': 'running',
        'nodes': [],
        'daemonize': 'yes',
        'appendfilename': 'appendonly.aof',
        'appendonly': 'no',
        'appendfsync': 'everysec',
        'auto_aof_rewrite_min_size': '64mb',
        'auto_aof_rewrite_percentage': 100,
        'bind': '127.0.0.1',
        'root_dir': '/var/lib/redis',
        'dbfilename': 'dump.rdb',
        'user': 'redis',
        'group': 'redis',
        'home': '/var/lib/redis',
        'loglevel': 'notice',
        'lua_time_limit': 5000,
        'maxmemory_policy': 'volatile-lru',
        'maxmemory_samples': 5,
        'notify_keyspace_events': '""',
        'no_appendfsync_on_rewrite': 'no',
        'rdbchecksum': 'yes',
        'rdbcompression': 'yes',
        'repl_disable_tcp_nodelay': 'no',
        'slave_priority': 100,
        'slave_read_only': 'yes',
        'slave_serve_stale_data': 'yes',
        'slowlog_max_len': 128,
        'slowlog_log_slower_than': 10000,
        'snapshots': [
            '900 1',
            '300 10',
            '60 10000'
            ],
        'stop_writes_on_bgsave_error': 'yes',
        'tcp_backlog': 511,
        'tcp_keepalive': 0,
        'syslog_enabled': 'no',
        'databases': 1,
        'repl_diskless_sync': 'no',
        'repl_diskless_sync_delay': 5,
        'maxclients': 1000,
        'maxmemory': '1024mb',
        'hash_max_ziplist_entries': 512,
        'hash_max_ziplist_value': 64,
        'list_max_ziplist_entries': 512,
        'list_max_ziplist_value': 64,
        'set_max_intset_entries': 512,
        'zset_max_ziplist_entries': 128,
        'zset_max_ziplist_value': 64,
        'hll_sparse_max_bytes': 3000,
        'activerehashing': 'yes',
        'client_output_buffer_limit_normal': '0 0 0',
        'client_output_buffer_limit_slave': '256mb 64mb 60',
        'client_output_buffer_limit_pubsub': '32mb 8mb 60',
        'hz': 10,
        'aof_rewrite_incremental_fsync': 'yes',
        'timeout': 0,
        'aof_load_truncated': 'yes',
        'latency_monitor_threshold': 0,
        'sentinel': {
            'svc_name': 'redis-sentinel',
            'cfg_file': '/etc/redis/sentinel.conf',
            'daemon': '/usr/local/bin/redis-sentinel',
            'pidfile': 'redis-sentinel.pid'
        }
	}
}%}

{# Merge os_map into default_settings dictionary #}
{% do default_settings.redis_io.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set redis_settings = salt['pillar.get']('redis_io', default=default_settings.redis_io, merge=True) %}

