redis_io:
  sentinel:
      daemonize: 'yes'
      logfile: '/var/log/redis/sentinel.log'
      name: 'foo'
      port: 26379
      masters:
        foo:
          monitor:
            host: '127.0.0.1'
            port: 7000
            quorum: 1
          down_after_milliseconds: 2000
      notification_script: '/etc/redis/notification.sh'