# {{ port }}.conf output by Salt
daemonize {{ node_cfg.daemonize|default(default_cfg.daemonize) }}
pidfile /var/run/redis/redis_{{ port }}.pid
port {{ port }}
tcp-backlog {{ node_cfg.tcp_backlog|default(default_cfg.tcp_backlog) }}
bind {{ node_cfg.bind|default(default_cfg.bind) }}
{%- if node_cfg.unixsocketperm|default(default_cfg.unixsocketperm) is defined %}
unixsocket {{ node_cfg.unixsocket|default(default_cfg.unixsocket) }}
unixsocketperm {{ node_cfg.unixsocketperm|default(default_cfg.unixsocketperm) }}
{%- endif %}
timeout {{ node_cfg.timeout|default(default_cfg.timeout) }}
tcp-keepalive {{ node_cfg.tcp_keepalive|default(default_cfg.tcp_keepalive) }}
loglevel {{ node_cfg.loglevel|default(default_cfg.loglevel) }}
logfile "/var/log/redis/{{ port }}.log"
syslog-enabled {{ node_cfg.syslog_enabled|default(default_cfg.syslog_enabled) }}
{%- if node_cfg.syslog_ident is defined %}
# Specify the syslog identity.
syslog-ident {{ node_cfg.syslog_ident|default(default_cfg.syslog_ident) }}
{%- endif %}
{%- if node_cfg.syslog_facility|default(default_cfg.syslog_facility) is defined %}
# Specify the syslog facility. Must be USER or between LOCAL0-LOCAL7.
syslog-facility {{ node_cfg.syslog_facility|default(default_cfg.syslog_facility) }}
{%- endif %}
databases {{ node_cfg.databases|default(default_cfg.databases) }}
{%- for save in node_cfg.snapshots|default(default_cfg.snapshots) %}
save {{ save }}
{%- endfor %}
stop-writes-on-bgsave-error {{ node_cfg.stop_writes_on_bgsave_error|default(default_cfg.stop_writes_on_bgsave_error) }}
rdbcompression {{ node_cfg.rdbcompression|default(default_cfg.rdbcompression) }}
rdbchecksum {{ node_cfg.rdbchecksum|default(default_cfg.rdbchecksum) }}
dbfilename {{ node_cfg.dbfilename|default(default_cfg.dbfilename) }}
dir /var/lib/redis/{{ port }}

################################# REPLICATION #################################
{%- if node_cfg.slaveof|default(default_cfg.slaveof) is defined %}
slaveof {{ node_cfg.slaveof|default(default_cfg.slaveof) }}
{%- endif %}
{%- if node_cfg.master_password|default(default_cfg.master_password) is defined %}
masterauth {{ node_cfg.master_password|default(default_cfg.master_password) }}
{%- endif %}
slave-serve-stale-data {{ node_cfg.slave_serve_stale_data|default(default_cfg.slave_serve_stale_data) }}
slave-read-only {{ node_cfg.slave_read_only|default(default_cfg.slave_read_only) }}
repl-diskless-sync {{ node_cfg.repl_diskless_sync|default(default_cfg.repl_diskless_sync) }}
repl-diskless-sync-delay {{ node_cfg.repl_diskless_sync_delay|default(default_cfg.repl_diskless_sync_delay) }}
{%- if node_cfg.repl_ping_slave_period|default(default_cfg.repl_ping_slave_period) is defined %}
repl-ping-slave-period {{ node_cfg.repl_ping_slave_period|default(default_cfg.repl_ping_slave_period) }}
{%- endif %}
{%- if node_cfg.repl_timeout|default(default_cfg.repl_timeout) is defined %}
repl-timeout {{ node_cfg.repl_timeout|default(default_cfg.repl_timeout) }}
{%- endif %}
repl-disable-tcp-nodelay {{ node_cfg.repl_disable_tcp_nodelay|default(default_cfg.repl_disable_tcp_nodelay) }}
{%- if node_cfg.repl_backlog_size|default(default_cfg.repl_backlog_size) is defined %}
repl-backlog-size {{ node_cfg.repl_backlog_size|default(default_cfg.repl_backlog_size) }}
{%- endif %}
{%- if node_cfg.repl_backlog_ttl|default(default_cfg.repl_backlog_ttl) is defined %}
repl-backlog-ttl {{ node_cfg.repl_backlog_ttl|default(default_cfg.repl_backlog_ttl) }}
{%- endif %}
slave-priority {{ node_cfg.slave_priority|default(default_cfg.slave_priority) }}

################################## SECURITY ###################################
{%- if node_cfg.requirepass|default(default_cfg.requirepass) is defined %}
requirepass {{ node_cfg.requirepass|default(default_cfg.requirepass) }}
{%- endif %}
maxclients {{ node_cfg.maxclients|default(default_cfg.maxclients) }}
{%- if node_cfg.maxmemory|default(default_cfg.maxmemory) is defined %}
maxmemory {{ node_cfg.maxmemory|default(default_cfg.maxmemory) }}
{%- endif %}
{%- if node_cfg.maxmemory_policy|default(default_cfg.maxmemory_policy) is defined %}
maxmemory-policy {{ node_cfg.maxmemory_policy|default(default_cfg.maxmemory_policy) }}
{%- endif %}
{%- if node_cfg.maxmemory_samples|default(default_cfg.maxmemory_samples) is defined %}
maxmemory-samples {{ node_cfg.maxmemory_samples|default(default_cfg.maxmemory_samples) }}
{%- endif %}

############################## APPEND ONLY MODE ###############################
appendonly {{ node_cfg.appendonly|default(default_cfg.appendonly) }}
appendfilename "{{ node_cfg.appendfilename|default(default_cfg.appendfilename) }}"
appendfsync {{ node_cfg.appendfsync|default(default_cfg.appendfsync) }}
no-appendfsync-on-rewrite {{ node_cfg.no_appendfsync_on_rewrite|default(default_cfg.no_appendfsync_on_rewrite) }}
auto-aof-rewrite-percentage {{ node_cfg.auto_aof_rewrite_percentage|default(default_cfg.auto_aof_rewrite_percentage) }}
auto-aof-rewrite-min-size {{ node_cfg.auto_aof_rewrite_min_size|default(default_cfg.auto_aof_rewrite_min_size) }}
aof-load-truncated {{ node_cfg.aof_load_truncated|default(default_cfg.aof_load_truncated) }}
lua-time-limit {{ node_cfg.lua_time_limit|default(default_cfg.lua_time_limit) }}

{%- if node_cfg.cluster_enabled|default(default_cfg.cluster_enabled) is defined %}
################################ REDIS CLUSTER  ###############################
cluster-enabled {{ node_cfg.cluster_enabled|default(default_cfg.cluster_enabled) }}
{%- endif %}
{%- if node_cfg.cluster_config_file|default(default_cfg.cluster_config_file) is defined %}
cluster-config-file {{ node_cfg.cluster_config_file|default(default_cfg.cluster_config_file) }}
{%- endif %}
{%- if node_cfg.cluster_node_timeout|default(default_cfg.cluster_node_timeout) is defined %}
cluster-node-timeout {{ node_cfg.cluster_node_timeout|default(default_cfg.cluster_node_timeout) }}
{%- endif %}
{%- if node_cfg.cluster_slave_validity_factor|default(default_cfg.cluster_slave_validity_factor) is defined %}
cluster-slave-validity-factor {{ node_cfg.cluster_slave_validity_factor|default(default_cfg.cluster_slave_validity_factor) }}
{%- endif %}
{%- if node_cfg.cluster_migration_barrier|default(default_cfg.cluster_migration_barrier) is defined %}
cluster-migration-barrier {{ node_cfg.cluster_migration_barrier|default(default_cfg.cluster_migration_barrier) }}
{%- endif %}
{%- if node_cfg.cluster_require_full_coverage|default(default_cfg.cluster_require_full_coverage) is defined %}
cluster-require-full-coverage {{ node_cfg.cluster_require_full_coverage|default(default_cfg.cluster_require_full_coverage) }}
{%- endif %}

################################## SLOW LOG ###################################
slowlog-log-slower-than {{ node_cfg.slowlog_log_slower_than|default(default_cfg.slowlog_log_slower_than) }}
slowlog-max-len {{ node_cfg.slowlog_max_len|default(default_cfg.slowlog_max_len) }}

################################ LATENCY MONITOR ##############################
latency-monitor-threshold {{ node_cfg.latency_monitor_threshold|default(default_cfg.latency_monitor_threshold) }}

############################# EVENT NOTIFICATION ##############################
notify-keyspace-events {{ node_cfg.notify_keyspace_events|default(default_cfg.notify_keyspace_events) }}

############################### ADVANCED CONFIG ###############################
hash-max-ziplist-entries {{ node_cfg.hash_max_ziplist_entries|default(default_cfg.hash_max_ziplist_entries) }}
hash-max-ziplist-value {{ node_cfg.hash_max_ziplist_value|default(default_cfg.hash_max_ziplist_value) }}
list-max-ziplist-entries {{ node_cfg.list_max_ziplist_entries|default(default_cfg.list_max_ziplist_entries) }}
list-max-ziplist-value {{ node_cfg.list_max_ziplist_value|default(default_cfg.list_max_ziplist_value) }}
set-max-intset-entries {{ node_cfg.set_max_intset_entries|default(default_cfg.set_max_intset_entries) }}
zset-max-ziplist-entries {{ node_cfg.zset_max_ziplist_entries|default(default_cfg.zset_max_ziplist_entries) }}
zset-max-ziplist-value {{ node_cfg.zset_max_ziplist_value|default(default_cfg.zset_max_ziplist_value) }}
hll-sparse-max-bytes {{ node_cfg.hll_sparse_max_bytes|default(default_cfg.hll_sparse_max_bytes) }}
activerehashing {{ node_cfg.activerehashing|default(default_cfg.activerehashing) }}
client-output-buffer-limit normal {{ node_cfg.client_output_buffer_limit_normal|default(default_cfg.client_output_buffer_limit_normal) }}
client-output-buffer-limit slave {{ node_cfg.client_output_buffer_limit_slave|default(default_cfg.client_output_buffer_limit_slave) }}
client-output-buffer-limit pubsub {{ node_cfg.client_output_buffer_limit_pubsub|default(default_cfg.client_output_buffer_limit_pubsub) }}
hz {{ node_cfg.hz|default(default_cfg.hz) }}
aof-rewrite-incremental-fsync {{ node_cfg.aof_rewrite_incremental_fsync|default(default_cfg.aof_rewrite_incremental_fsync) }}
############################### End of Salt Managed Config ####################

