# sentinel.conf output by Salt
daemonize {{ sentinel.daemonize|default('yes') }}
logfile {{ sentinel.logfile|default('/var/log/redis/sentinel.log') }}
{%- if sentinel.bind is defined %}
bind {{ sentinel.bind }}
{%- endif %}
port {{ sentinel.port|default('26379') }}
{%- if sentinel.announce_ip is defined %}
sentinel announce-ip {{ sentinel.announce_ip }}
{%- endif %}
{%- if sentinel.announce_port is defined %}
sentinel announce-port {{ sentinel.announce_port }}
{%- endif %}
dir {{ sentinel.dir|default('/tmp') }}
{%- if sentinel.masters is defined %}
{%- for master, config in sentinel.masters.items() %}
{%- for node in config.nodes %}
sentinel monitor {{ master }} {{ node.monitor.host }} {{ node.monitor.port }} {{ node.monitor.quorum }}
{%- endfor %}
{%- endfor %}
{%- if auth_pass is defined %}
sentinel auth-pass {{ sentinel.name }} {{ sentinel.auth_pass }}
{%- endif %}
{%- for master, config in sentinel.masters.items() %}
sentinel down-after-milliseconds {{ master }} {{ config.down_after_milliseconds|default('30000') }}
{%- endfor %}
{%- for master, config in sentinel.masters.items() %}
sentinel parallel-syncs {{ master }} {{ config.parallel_syncs|default('1') }}
{%- endfor %}
{%- for master, config in sentinel.masters.items() %}
sentinel failover-timeout {{ master }} {{ config.failover_timeout|default('180000') }}
{%- endfor %}
{%- endif %}
{%- if sentinel.notification_script is defined %}

# SCRIPTS EXECUTION
sentinel notification-script {{ sentinel.name }} {{ sentinel.notification_script }}
{%- endif %}
{%- if sentinel.client_reconfig_script is defined %}

# CLIENTS RECONFIGURATION SCRIPT
sentinel client-reconfig-script {{ sentinel.name }} {{ sentinel.client_reconfig_script }}
{%- endif %}
